@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFEEE1; 
}

.register-box {
    background-color: #E1E4D6; 
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px; 
    border: 1px solid black; 
}

.logo {
    width: 110px;
    margin-bottom: 20px;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 40px;
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 40px;
    background-color: #EFEEE1;
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
    color: black; 
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border: 2px solid black; 
    color: black; 
    font-weight: bold; 
}

button {
    padding: 10px;
    background-color: #F8DEC3; 
    color: #000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    width: 150px; 
    height: 50px; 
    font-size: 24px; 
    border: 2px solid black; 
    margin: 0 auto; 
}

button:hover {
    background-color: #BFB5AA; 
}

p {
    margin-top: 20px;
    font-family: 'League Spartan', sans-serif; 
    font-size: 20px;
    color: black; 
    font-weight: bold; 
}

a {
    color: #524C4C; 
    text-decoration: underline; 
    font-family: 'League Spartan', sans-serif; 
    cursor: pointer; 
    font-size: 20px;
    color: black; 
    font-weight: bold; 
}

a:hover {
    text-decoration: underline;
}
