@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.landing-container {
  font-family: 'League Spartan', sans-serif;
}
body {
  background-color: #fff; /* Add your desired background color here */
}
.landing-logo {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.banner-container {
  position: relative;
  text-align: center;
}

.banner {
  width: 100%;
  display: block;
}

.logo {
  position: absolute;
  top: 25%;  /* Center vertically */
  left: 48%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the exact center */
  max-width: 150px; /* Or whatever size you want the logo to be */
  z-index: 10; /* To ensure the logo is above the banner image */
}

.banner-text-box {
  position: absolute;
  top: 30%; /* Center vertically */
  left: 75%; /* Center horizontally */
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.tagline {
  font-size: 2rem; /* Adjust as needed */
  color: #000;
  margin: 0 0 20px 0; /* Add space below the heading */
}

.ready-button {
  background-color: #f8d09b; /* Gold color, adjust as needed */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  z-index: 3;
  border-radius: 25px; /* Gives the button rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Adds shadow with some blur and spread */
  transition: all 0.3s; /* Smooth transition for hover effects */
}

.ready-button:hover {
  background-color: #e0c200; /* Slightly darker gold color on hover */
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 8px 25px 0 rgba(0, 0, 0, 0.22); /* Slightly more pronounced shadow on hover */
}


.banner-content {
  position: absolute;
  bottom: 20px; /* Position the content at the bottom of the banner */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensure the content is centered and does not overflow */
  z-index: 5; /* Above the banner image but below the logo */
}

.support-section {
  text-align: center;
  padding: 20px;
}

.support-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.support-text {
  margin-bottom: 2rem;
}

.features {
  display: flex;
  justify-content: space-evenly;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature-icon {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  padding: 20px;
  border: 2px solid black; /* Add a black border */
}